#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */



@font-face {
  font-family: 'IBM';
  src: url('../public/fonts/ibm/IBMPlexSansArabic-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'IBM';
  src: url('../public/fonts/ibm/IBMPlexSansArabic-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'IBM';
  src: url('../public/fonts/ibm/IBMPlexSansArabic-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'IBM';
  src: url('../public/fonts/ibm/IBMPlexSansArabic-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'IBM';
  src: url('../public/fonts/ibm/IBMPlexSansArabic-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'IBM';
  src: url('../public/fonts/ibm/IBMPlexSansArabic-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'IBM';
  src: url('../public/fonts/ibm/IBMPlexSansArabic-Black.ttf');
  font-weight: 900;
}